//- Images et bouton
mj-section(background-color='#ffffff' padding-top='0' padding-left='50px' padding-right='50px')
    mj-column(padding="10px")
        mj-image(fluid-on-mobile='true' src='https://i.ibb.co/RbrCs5L/AEPEimg01.jpg' alt='Enfants réalisant des pas de gymnastique')
        mj-spacer(height='20px')
        mj-button(padding='0' width='100%' css-class='hover' href='https://ecosup-sante.fr/accompagnant-petite-enfance') Découvrez notre formation
    mj-column(padding='10px')
        mj-image(fluid-on-mobile='true' width='480px' src='https://i.ibb.co/BPrN46F/AEPEimg02.jpg' alt='Deux enfants entrain de jouer')
        mj-spacer(height='20px')
        mj-button(padding='0' width='100%' css-class='hover' href='https://ecosup-sante.fr/procedure-de-candidature-2' ) Postulez maintenant
    mj-column(padding='10px')
        mj-image(fluid-on-mobile='true' width='480px' src='https://i.ibb.co/wsbFb2F/AEPEimg03.jpg' alt='Jeux d\'enfants dans une salle de jeux')
        mj-spacer(height='20px')
        mj-button(padding='0' width='100%' css-class='hover' href='https://ecosup-sante.fr/demande-information') Demande d'information
