//- Texte
mj-section(background-color='#ffffff')
    mj-column(width='500px')
        mj-text(font-size='18px' line-height='22px' font-weight='700' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Formation en alternance pour les moins de 29 ans !
        mj-text(font-size='14px' line-height='16px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Avec un rythme de 3 jours en entreprise et 2 jours en formation à l'école.
        mj-text(font-size='14px' line-height='16px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Notre service dédié vous accompagne dans la recherche de votre entreprise d'accueil et vous conseillons !
        mj-text(font-size='18px' line-height='22px' font-weight='700' color='#2D3748' align ='left' padding-bottom='0') Formation initiale ou continue pour les personnes agées de 17 à 55 ans !
        mj-text(font-size='14px' line-height='16px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Ce format est proposé à toutes les personnes ne rentrant pas dans les critères d'un contrat d'apprentissage ou n'ayant pas trouvé d'entreprises en alternance. Vous effectuerez donc des stages durant l'année.
        mj-text(font-size='14px' line-height='16px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Divers #[span(style='font-weight:700;') financement] ou #[span(style='font-weight:700;') co-financement] sont possibles (France Travail, région des Hauts de France...) #[span(style='font-weight:700;') sous condition de disposer minimum de 500 € sur son Compte Personnel de Formation.]
        mj-text(font-size='18px' line-height='22px' font-weight='700' color='#2D3748' align ='left' padding-bottom='0') Contactez-nous pour toutes questions sur la formation, le financement, l'école... Nous sommes là pour vous répondre !