extends templates/_layout
block content
        //- logo Ecosup Assurance
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='250px')
                mj-image(src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(align='center' font-size='16px' font-weight='900' line-height='20px' color='#684092' text-transform='uppercase' padding-top='0' padding-bottom='0') Vous êtes titulaire d'un bep ou d'un cap ?
                mj-text(align='center' font-size='36px' font-weight='300' line-height='40px' color='#684092') Optez pour le CAP Accompagnant(e) Éducatif Petite Enfance dans notre école ecosup santé à Tourcoing
        //- Mission
        mj-section(background-color='#ffffff')
            mj-column(width='100%' padding-left="50px" padding-right="50px")
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Formation en alternance pour les moins de 29 ans !
                mj-text(font-size='16px' line-height='20px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Avec un rythme de 3 jours en entreprise et 2 jours en formation à l'école.
                mj-text(font-size='16px' line-height='20px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Notre service dédié vous accompagne dans la recherche de votre entreprise d'accueil et vous conseillons !
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#2D3748' align ='left' padding-bottom='0') Formation initiale ou continue pour les personnes agées de 17 à 55 ans !
                mj-text(font-size='16px' line-height='20px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Ce format est proposé à toutes les personnes ne rentrant pas dans les critères d'un contrat d'apprentissage ou n'ayant pas trouvé d'entreprises en alternance. Vous effectuerez donc des stages durant l'année.
                mj-text(font-size='16px' line-height='20px' font-weight='300' color='#2D3748' align ='left' padding-top='0' padding-bottom='0') Divers financement ou co-financement sont possibles (France Travail, région des Hauts de France...) sous condition de disposer minimum de 500 € sur son Compte Personnel de Formation.
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#2D3748' align ='left' padding-bottom='0') Contactez-nous pour toutes questions sur la formation, le financement, l'école... Nous sommes là pour vous répondre !
               
        //- Images et bouton
        mj-section(background-color='#ffffff' padding-top='0' padding-left='50px' padding-right='50px')
            mj-column(width='33%' padding="10px")
                mj-image(src='https://i.ibb.co/RbrCs5L/AEPEimg01.jpg',)
                mj-spacer(height='20px')
                mj-button(padding='0' css-class='hover' href='https://ecosup-assurance.fr/assistant-conseiller-commercial/') Découvrez notre formation
            mj-column(width='33%' padding='10px')
                mj-image(src='https://i.ibb.co/BPrN46F/AEPEimg02.jpg')
                mj-spacer(height='20px')
                mj-button(padding='0' css-class='hover' href='https://ecosup-assurance.fr/assistant-conseiller-commercial/') Postulez maintenant
            mj-column(width='33%' padding='10px')
                mj-image(src='https://i.ibb.co/wsbFb2F/AEPEimg03.jpg')
                mj-spacer(height='20px')
                mj-button(padding='0' css-class='hover' href='https://ecosup-assurance.fr/assistant-conseiller-commercial/') Demande d'information
