extends templates/_layout
block content
        //- Image Hero
        mj-section(full-width="full-width" background-color='#1372b8' padding='0')
            mj-column(width='100%')
                mj-image(src='https://i.ibb.co/s6Q5Q6K/AEPEimg.jpg' alt='Vous souhaitez entamer une reconversion professionnelle et vous former aux métiers de la petite enfance ?')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(align='center' font-size='18px' font-weight='700' line-height='22px' color='#2D3748' padding-top='0' padding-bottom='0') Vous êtes titulaire d'un #[span(style='text-transform:uppercase;') bep] ou d'un #[span(style='text-transform:uppercase;') cap] ?
                mj-text(align='center' font-size='26px' font-weight='700' line-height='30px' color='#2D3748') Optez pour le #[span(style='color:#1372b8') CAP Accompagnant(e) Éducatif Petite Enfance] dans notre école #[span(style='text-transform:uppercase;') ecosup santé] à Tourcoing